<!-- Handlebars template for the 'About' Page -->
<!-- Uses properties from global 'teamMembers' object that is filled from GitHub API -->

<!-- <div> -->

<article class="about-profile">  <!-- Team member profile -->
  <h2>{{memberName}}</h2>
  <img class="team-img" src="{{memberPic}}"></img>

  <div class="bio-content">
    <p class="about-bio">{{memberBio}}</p>
    <a class="about-github-profile" href="{{memberProfile}}" target="_blank"><i class="fa fa-github-square"></i> GitHub Account</a>
  </div>

</article>
<!-- </div> -->
