<!-- Handlebars template for the 'About' Page -->
<!-- Uses properties from global 'teamMembers' object that is filled from GitHub API -->

<article class="about-profile">  <!-- Team member profile -->
  <figure>
    <img src="{{memberPic}}"></img>
  </figure>

  <div class="bio-content">
    <h2>{{memberName}}</h2>
    <p class="about-bio">{{memberBio}}</p>
    <div class="about-hireable" data-hireable="{{memberHireable}}">Hireable</div>
    <a class="about-github-profile" src="{{memberProfile}}"><i class="fa fa-github-square"></i> GitHub </a>
  </div>

</article>
