.about-profile {
  margin: 2rem 3rem 2rem 1rem ;
  max-width: 40%;
  max-height: 40%;
  text-align: justify;
}

.about-profile > h2 {
  font-size: 150%;
}

.team-img {
  max-width: 40%;
  max-height: 40%;
}

.bio-content {
  margin-top: 1rem;
}

.about-bio {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}


#about {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media screen and (max-width: 715px) {
  #about {
    padding: 5rem;
    display: block;
  }

  .about-profile {
    margin: auto;
    max-width: 90%;
    text-align: justify;
  }
}
