#estimator {
  padding: 0;
}

#new-calc {
  padding: 25px 0;
  /*border: dotted 2px red;*/
}

#attach-results-table {
  padding: 25px;
  /*border: dotted 2px red;*/
}

@media screen and (min-width: 767px) {

  #new-calc {
    width: 40%;
    float: left;
  }

  #attach-results-table {
    width: 60%;
    float: right;
  }

  footer {
    clear: both;
  }

}
