#input-calc {
  width: 180px;
  margin: 0 auto;
}

input[type="number"] {
  width:152px;
}

.fa {
  padding-left: .5rem;
}

.fa + .tooltip.right > .tooltip-arrow {
  border-right: 5px solid #f05f40;
}

.tooltip-inner  {
  max-width: 350px;
};

/*@media only screen and (max-width: 480px) {
  .tooltip-inner {
    max-width: 100px;
  }
}*/
