.navbar-default .nav > li>a {
  color: black;
}

.header-content-inner h1 {
  text-shadow: 2px 4px 8px rgba(0,0,0,.6);
}

.header-content-inner hr {
  border-color: #FF4F17;
}

.header-content-inner i {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 4px rgba(50, 50, 50, 0.6);
}

header .header-content .header-content-inner p {
  font-family: 'Raleway',Helvetica,Arial,sans-serif;
  color: white;
  text-shadow: 2px 4px 8px rgba(0,0,0,.6);
}

@media (min-width: 768px) {
  #mainNav.affix-top {
    background-color: rgba(76, 138, 216, 0.21);
  }
  #mainNav.affix-top > a {
    color: black;
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus,
  .navbar-default .nav>li>a:focus:hover {
      color: #FF4F17;
  }

  .navbar-brand {
    color: #FF4F17 !important;
  }
}
